body {
  min-width: 100%;
  overflow: scroll;
}

.grid {
  display: grid;
  grid-template-columns: 250px auto 250px;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
}

aside,
article {
  background: #eaeaea;
  height: 1000px;
}

/* Demo Specific Styles */

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
