.bag{
  bag { width: 10%; height: auto; }
}

.mybook{
  font-size: 50px;
  font-style: italic;
  position: relative;
  top: 25px;
  left: 450px;
}

.movebooks{
  position: relative;
  top: -30px;
}

.iconSpace{
position: absolute;
left: 50px;

}

.v{
  position: relative;
  left: 210px;
  top: -10px;

}
