
.jumbotron{
  background-image: url(./slide-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 300px;
  color: white;
  text-align: center;
}

.titleTag{
  font-size: 70px;
  position: relative;
  text-shadow: 2px 2px 4px #000000;
}
