.friend {
  position: fixed;
  border-radius: 10px;
  bottom: 50px;
  right: 10px;
  height: 400px;
  width: 230px;
  background-color: white;
}

.fr {
  color: grey;
  margin-top: 5px;
  font-style: italic;
  margin-left: 10px;
}

.line1 {
  width: 100%;
  height: 1px;
  color: black;
  border-bottom: 2px dashed #ddd;
  margin: 0px 0;
}

.friendlist {
  color: black;
  padding-top: 10px;
  padding-right: 10px;
}

#Capa_1 {
  position: absolute;

  left: 10px;
  width: 30px;
  height: 30px;
}
.modal-backdrop {
  z-index: 900;
}

#Capa_2 {
  position: absolute;
  bottom: 80px;
  left: 10px;
  width: 30px;
  height: 30px;
}
.reddot {
  position: fixed;
  right: 20px;
}
.row1 {
  color: black;
}
.f0 {
  position: fixed;
  padding-bottom: 30px;
}
.f1 {
  padding-top: 30px;
}
